#loginBody {
  background-color: rgb(136, 228, 138);
  height: 100vh;
  width: 100vw;
}

#loginFormWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

#loginFormContainer {
  position: relative;
}

#loginHeader {
  font-family: "Roboto";
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(87, 87, 87);
  text-align: center;
  font-weight: 200;
}

#loginBar {
  width: 100%;
  height: 1px;
  background-color: rgb(216, 216, 216);
  margin-bottom: 20px;
}

.loginDescription {
  font-size: 22px;
  font-family: "Source Sans Pro";
  font-weight: 100;
  color: rgb(156, 156, 156);
  margin-bottom: 5px;
}

.loginInput {
  width: 350px;
  height: 45px;
  margin-bottom: 20px;
  border: rgb(136, 228, 138);
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  box-shadow: 0px 0px 1.5px rgb(136, 228, 138);
  font-family: "Source Sans Pro";
  font-size: 17px;
  color: rgb(110, 110, 110);
}

.loginInput::placeholder {
  color: rgb(179, 179, 179);
  font-size: 15px;
}

#loginSubmitButton {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background-color: rgb(136, 228, 138);
  color: white;
  width: 200px;
  height: 50px;
}

#loginSubmitButton:hover {
  border: rgb(206, 206, 206);
  border-style: solid;
  border-width: 2px;
}

#loginSubmitButton:active {
  background-color: rgb(108, 184, 109);
}
