#uploadHubWrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.uploadHubHeader {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 40px;
  background-color: rgb(136, 228, 138);
  padding: 5px;
  border-radius: 5px;
}

.uploadHubLink {
  background-color: rgb(236, 111, 111);
  padding: 5px;
  color: white;
  text-shadow: 0px 0px 5px rgb(126, 126, 126);
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
  border-radius: 5px;
}

#uploadHubLinkWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

#uploadManualBar {
  max-width: 1000px;
  width: 95vw;
  height: 2px;
  background-color: black;
  margin-top: 20px;
}

#uploadManualRecipeName {
  width: 400px;
}

#uploadManualRecipeDescription {
  height: 400px;
}

#uploadManual1Wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  grid-auto-rows: 200px;
  grid-column-gap: 200px;
  margin-top: 40px;
  margin-bottom: 400px;
}

.uploadManualRecipeInput {
  max-width: 400px;
  width: 100%;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 20px;
}

.uploadManualHeader {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 40px;
}

#uploadManualWrapper {
  display: grid;
  justify-content: center;
  margin-top: 130px;
}

@media screen and (max-width: 1080px) {
  #uploadManualBar {
    visibility: hidden;
  }
}
@media screen and (max-width: 730px) {
  #uploadManualBar {
    visibility: hidden;
  }
}
