#dashboard {
  margin-bottom: 50px;
}

#dashWrapper {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 750px 350px;
  grid-auto-rows: 400px;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

#dashAreaRight {
  grid-row: 1/3;
  grid-column: 2/3;
}

.dashOutlineWrapper {
  border: rgb(235, 235, 235);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: relative;
}

.dashOutlineHeader {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
  padding-top: 8px;
  padding-left: 13px;
}

.dashPopItemWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.dashPopItem {
  border: rgb(235, 235, 235);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  position: relative;
}

.dashPopItemContent {
  width: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.dashPopItemTitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Unna";
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
  line-height: 1.1;
}

.dashPopItemImg {
  width: 100%;
  height: 130px;
  background-color: blue;
}

.dashPopItemDesc {
  margin-top: 10px;
  font-family: "Unna";
  font-size: 20px;
  line-height: 1.1;
}

#dashFamilyItem {
  width: 270px;
  height: 210px;
}

#dashFamImg {
  height: 100px;
}

.dashRecipeContent {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  width: 90%;
}

.dashRecipeCreate {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 23px;
  padding: 5px;
  background-color: rgb(136, 228, 138);
  color: white;
  border-radius: 3px;
}

#dashFamilyContent {
  margin-top: 20px;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(auto-fit, max-content);
  grid-row-gap: 15px;
}

#dashFamilyName {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 40px;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  #dashWrapper {
    grid-template-columns: minmax(300px, 750px);
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  #dashAreaTop {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #dashAreaBottom {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  #dashAreaRight {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
