#dashTopWrapper {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 300px;
}

#headerBar {
  width: 130px;
  height: 8px;
  background-color: rgb(236, 111, 111);
}

#welcomeText {
  font-size: 60px;
  margin-top: 70px;
}

.headerText {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 25px;
}

#notificationHeader {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.dashNotificationLine {
  margin-left: 16px;
  height: 2px;
  width: 250px;
  background-color: black;
  margin-bottom: 5px;
}

.dashNotificationText {
  margin-bottom: 5px;
  font-family: "Source Sans Pro";
  font-weight: 700;
}

#notificationExpand {
  width: 105px;
  height: 30px;
  background-color: rgb(236, 111, 111);
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-top: 13px;
  color: white;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 18px;
}
