#uploadStraightContent {
  left: 40%;
  transform: translate(-50%);
  position: absolute;
}

#uploadStraightWrapper {
  display: grid;
  justify-content: center;
  margin-top: 100px;
  grid-template-columns: 450px 1fr;
  grid-column-gap: 50px;
}

#uploadStraightTitle {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 60px;
  width: max-content;
  justify-self: end;
  background-color: #83e285;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-shadow: 0px 0px 5px gray;
}

#uploadStraightDescription {
  height: 150px;
}

#uploadStraightFirst {
  margin-top: 100px;
}

.uploadStraightHeader {
  grid-column: 1/2;
  justify-self: end;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 40px;
  margin-top: 50px;
}

.uploadStraightButton {
  margin-top: 100px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #83e285;
}

.uploadStraightButton:hover {
  border: black;
  border-style: solid;
}

.uploadStraightButton:active {
  background-color: #304e31;
}

.uploadStraightInput {
  margin-top: 50px;
  width: 600px;
  border-radius: 5px;
  border: black;
  border-style: solid;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 20px;
}
