#photo {
  height: auto;
  width: 100%;
  max-width: 500px;
}

#photowrapper {
  position: absolute;
}

#barwrapper {
  margin-top: 50px;
  position: absolute;
}

.bars {
  height: 15px;
  width: 150px;
  background-color: rgb(111, 0, 255);
  border-radius: 7px;
  margin-top: 10px;
}

#header {
  font-family: "Roboto";
  font-size: 50px;
  color: white;
  font-weight: 500;
}

#headerText {
  background-color: rgb(111, 0, 255);
  padding: 5px;
  border-radius: 5px;
}

#subtitle {
  font-family: "Unna";
  font-size: 70px;
  margin-top: 50px;
}

#descriptionHighlight {
  font-weight: bold;
  font-style: 70px;
  background-color: rgb(111, 0, 255);
  color: white;
  padding: 5px;
  border-radius: 20px;
  line-height: 1.4;
}
