#familyNavWrapper {
  width: 300px;
  height: 100vh;
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 1px 5px gray;
  position: fixed;
  z-index: 0;
  left: 0px;
  text-align: center;
}

#familyWrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.familyNavItem {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 30px;
  margin-top: 15px;
}

.familyNavHeader {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 50px;
  color: rgb(250, 106, 106);
  margin: 20px;
}

#familyNavBack {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 100px;
}

#familyContentWrapper {
  justify-content: center;
  display: grid;
}

#familyName {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 60px;
  width: 550px;
  margin-top: 100px;
}
