#familyNavWrapper {
  width: 300px;
  height: 100vh;
  background-color: rgb(247, 247, 247);
  position: fixed;
  z-index: 0;
  left: 0px;
  text-align: center;
}

#familyRequestLinkWrapper {
  position: absolute;
  right: 20px;
  top: 80px;
}

#familyRequestLink {
  font-family: "Source Sans Pro";
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
}

#familyRequestNumbers {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  right: 10px;
  font-size: 15px;
  color: white;
}

#familyRequestItem {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
}

#familyRequestHeader {
  font-weight: 500;
  margin-right: -15px;
}

#familyRequestLink:hover {
  background-color: rgb(43, 43, 43);
}

#familyWrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.familyNavItemWrapper {
  margin-bottom: 50px;
}

.familyNavItem {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  background-color: rgb(250, 106, 106);
  color: white;
  padding: 10px;
  border-radius: 3px;
  bottom: 0px;
  position: relative;
  transition: bottom 0.2s;
}

.familyNavItem:hover {
  bottom: 2px;
  border-width: 1px;
  border: rgb(196, 82, 82);
  border-bottom-style: solid;
  text-decoration: none;
  color: white;
}

.familyNavHeader {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 50px;
  color: rgb(250, 106, 106);
  margin: 20px;
}

#familyNavBack {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 100px;
}

#familyContentWrapper {
  justify-content: center;
  display: grid;
}

.familyTitle {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 40px;
  color: white;
  background-color: rgb(136, 228, 138);
  padding: 7px;
  line-height: 1;
  border-radius: 5px;
}

#familyName {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 60px;
  margin-top: 13px;
}

.familyHeader {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 30px;
  color: white;
  background-color: rgb(136, 228, 138);
  padding: 5px;
  line-height: 1;
  border-radius: 5px;
}

#familyDescription {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 40px;
  margin-top: 13px;
}

#famInvWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Source Sans Pro";
  font-size: 70px;
  width: 90%;
  text-align: center;
  font-weight: 700;
}

#famInvReturn {
  font-size: 40px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(136, 228, 138);
}

#famInvFailed {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#famSetInvWrapper {
  justify-content: center;
  display: grid;
  margin: 200px;
  justify-items: center;
}

.famSetInvHeader {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 40px;
}

.famSetInvGenerate {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  background-color: rgb(250, 106, 106);
  color: white;
  padding: 9px;
  border-radius: 3px;
  bottom: 0px;
  position: relative;
  border: none;
  transition: bottom 0.2s;
  margin-top: 20px;
  margin-bottom: 10px;
}

.famSetInvGenerate:hover {
  bottom: 2px;
  border-width: 1px;
  border: rgb(196, 82, 82);
  border-bottom-style: solid;
  color: white;
  padding: 8px;
}

#famSetInvLink {
  width: 500px;
  word-wrap: break-word;
  padding: 20px;
  background-color: rgb(247, 247, 247);
  color: black;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

#famSetInvCopy {
  background-color: rgb(250, 106, 106);
  margin-top: 5px;
  color: white;
  outline: none;
  border: none;
  font-family: "Source Sans Pro";
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.2s;
}

#famSetInvCopy:hover {
  background-color: rgb(197, 82, 82);
}

#familyMemberWrapper {
  display: grid;
  justify-content: center;

  margin-top: 200px;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 30px;
}

.familyMemberItem {
  margin-top: 10px;
}

.familyMemberHeader {
  font-size: 40px;
  color: white;
  background-color: rgb(136, 228, 138);
  padding: 10px;
  border-radius: 5px;
  width: max-content;
  line-height: 1;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  #famInvWrapper {
    font-size: 50px;
  }
  #famInvReturn {
    font-size: 25px;
  }
}
