#familyNavWrapper {
  width: 300px;
  height: 100vh;
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 1px 5px gray;
  position: fixed;
  z-index: 0;
  left: 0px;
  text-align: center;
}

#familyRequestLink {
  font-family: "Source Sans Pro";
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
}

#familyRequestItem {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
}

#familyRequestHeader {
  font-weight: 500;
  margin-right: -15px;
}

#familyRequestLink:hover {
  background-color: rgb(43, 43, 43);
}

#familyWrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.familyNavItem {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 30px;
  margin-top: 15px;
}

.familyNavHeader {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 50px;
  color: rgb(250, 106, 106);
  margin: 20px;
}

#familyNavBack {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 100px;
}

#familyContentWrapper {
  justify-content: center;
  display: grid;
}

.familyTitle {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 50px;
  color: white;
  background-color: rgb(136, 228, 138);
  padding: 3px;
  border-radius: 5px;
  text-shadow: 0px 0px 5px rgb(141, 141, 141);
}

#familyName {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 60px;
  margin-top: 13px;
}

.familyHeader {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  color: white;
  background-color: rgb(136, 228, 138);
  padding: 3px;
  border-radius: 5px;
  text-shadow: 0px 0px 5px rgb(141, 141, 141);
}

#familyDescription {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 40px;
  margin-top: 13px;
}

#famInvWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Source Sans Pro";
  font-size: 70px;
  width: 90%;
  text-align: center;
  font-weight: 700;
}

#famInvReturn {
  font-size: 40px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(136, 228, 138);
}

#famInvFailed {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#famSetInvWrapper {
  justify-content: center;
  display: grid;
  margin: 200px;
  justify-items: center;
}

.famSetInvHeader {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 40px;
}

.famSetInvGenerate {
  width: max-content;
  padding: 7px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
}

#famSetInvLink {
  width: 500px;
  word-wrap: break-word;
  padding: 20px;
  background-color: rgb(136, 228, 138);
  color: white;
  margin-top: 20px;
  border-radius: 20px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  text-shadow: 0px 0px 5px gray;
}

#familyMemberWrapper {
  display: grid;
  justify-content: center;
  margin-top: 200px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 30px;
}

.familyMemberItem {
  margin-top: 20px;
}

.familyMemberHeader {
  font-size: 50px;
  color: white;
  background-color: rgb(136, 228, 138);
  padding: 5px;
  text-shadow: 0px 0px 5px rgb(146, 146, 146);
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  #famInvWrapper {
    font-size: 50px;
  }
  #famInvReturn {
    font-size: 25px;
  }
}
