#backgroundImage {
  background-image: url("./photos/index/WBC_7095.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#mainTitle {
  color: white;
  height: 500px;
}
