#indexIntro {
  margin-top: 100px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
  grid-column-gap: 100px;
}

#mainpagewrapper {
  max-width: 93%;
  margin-left: auto;
  margin-right: auto;
}
